@import 'variables.css';

#palette {
  align-items: flex-start;
  background-color: var(--darkGray);
  box-shadow: var(--level-2);
  display: flex;
  flex: 0 0 48px;
  flex-direction: column;
  justify-content: flex-start;
  order: 3;
  width: 48px;
  z-index: 1;
}

#palette:hover {
  cursor: default;
}
