#tools {
  align-items: flex-start;
  background-color: var(--darkGray);
  box-shadow: var(--level-2);
  display: flex;
  flex: 0 0 0;
  flex-direction: column;
  justify-content: flex-start;
  order: 1;
  width: 48px;
  z-index: 1;
}

#tools:hover {
  cursor: default;
}
